<a href="https://colab.research.google.com/github/vijaypattar28/Python_Training/blob/main/03_Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuple 
- A tuple is a sequence of immutable Python Objects. A tuple is an ordered collection of immutable elements (cannot be changed). 


> It is similar to lists, but there are some differences. Tuples are immutable but lists are.

> Lists are denoted by square brackets [] and tuples by round brackets ()

> Tuples are separated by commas (,) like lists.

## WHhen to use tuple

*   When you need to complete the task in a short time (Tuple has less execution time
*   Where you have to deal with values which can not be change

### Syntax

In [ ]:
# Synatx

tuple1 = ('vijay', 'pattar', 'karnataka')

tuple2  = (1,2,3)

tuple3 = "x","y","z"

tuple4 = 'a','b','c'

#Empty tuple
tuple_empty = ()

#tuple with single element
tuple_single = (100)
tuple_single1 = (100,)

print ('tuple1 - ', tuple1)
print ('tuple2 - ', tuple2)
print ('tuple3 - ', tuple3)
print ('tuple4 - ', tuple4)
print ('tuple_empty - ', tuple_empty)
print ('tuple_single - ', tuple_single)
print ('tuple_single1 - ', tuple_single1)

tuple1 -  ('vijay', 'pattar', 'karnataka')
tuple2 -  (1, 2, 3)
tuple3 -  ('x', 'y', 'z')
tuple4 -  ('a', 'b', 'c')
tuple_empty -  ()
tuple_single -  100
tuple_single1 -  (100,)

In [ ]:
#Â Example 1

tuple1 = (10,20,30,40,50,60)
for x in tuple1:
  print(x)

10
20
30
40
50
60

In [ ]:
# Convert list to tuple
list1 = [10,20,30,40,50,60]
tuple1 = ( tuple(list1))
print(type(tuple1))
print(tuple1)

<class 'tuple'>
(10, 20, 30, 40, 50, 60)

In [ ]:
# List is mutable and tuple is not mutable
list1 = [10,20,30,40,50,60]
list1[2] = 10000
print(list1)  

tuple1 = (10,20,30,40,50,60)
# Will throw error - TypeError: 'tuple' object does not support item assignment
tuple1[2] = 10000

[10, 20, 10000, 40, 50, 60]

TypeError: ignored

### **Can list be immutable **
When a list is created only with tuples then it it becomes immutable

In [ ]:
list2 = [(1,2), (3,4,5),(7,8)]
print('The value at index 2 - ', list2[2])
list2[2] = 100
print('The value after changing the value of idex item 2 - ', list2)
print('The value at index 1 and the tuple index 1',  list2[1][0])
list2[1][0]=30 # This will error with TypeError: 'tuple' object does not support item assignment

The value at index 2 -  (7, 8)
The value after changing the value of idex item 2 -  [(1, 2), (3, 4, 5), 100]
The value at index 1 and the tuple index 1 3

TypeError: ignored

### Can a tuple be mutable?
When you create a tuple of lists, it becomes mutable due to mutable nature of list.

In [ ]:
tuple_1=([10,20],[30,40])
tuple_1[1][1]=50
tuple_1

([10, 20], [30, 50])

## Adding Tuples

In [ ]:
tuple5 = tuple1 + tuple2
print(tuple5)

(10, 20, 30, 40, 50, 60, 1, 2, 3)

## Deleting Tuple

In [ ]:
del(tuple1)
print(tuple1)

NameError: ignored

# Operations on the tuple
The tuple + and * operations are very similar to strings. It means repetition and concatenation. The result is always a tuple, never a string.


1.   len
2.   +
3.   *2
4.   5 in (1,2,3)
5.   for x in (1,2,3,4,5): print x

In [ ]:
# tuple concatenation
x = (4, 4, 2, 5)
y = (2, 4, 0)
print("Concatenation of x and y: ",x + y)

# tuple repetition
a = ("Python Lobby Tutorials ")
print("Repetition of x and y: ",a * 2)

# tuple length
print("length of tuple x is: ", len(x))
print("length of tuple y is: ", len(y))

Concatenation of x and y:  (4, 4, 2, 5, 2, 4, 0)
Repetition of x and y:  Python Lobby Tutorials Python Lobby Tutorials
length of tuple x is:  4
length of tuple y is:  3

# Built in Tuple functions
1.  max(tuple). -- returns max value in the tuple
2.  min(tuple). -- returns min value in the tuple
3.  tuple(seq)  -- convets sequence into the tuple
4.  cmp(tuple,tuple2) -- compares elements of the tuple1 and tuple2
5.  len(tuple) -- returns the len of the tuple

In [ ]:
tuple1 = (6,56, 87, 1,3 ,4, 5)
print(tuple1)

print('Max value in the tuple :', max(tuple1))
print('Min value in the tuple :', min(tuple1))
print('Length value in the tuple :', len(tuple1))

(6, 56, 87, 1, 3, 4, 5)
Max value in the tuple : 87
Min value in the tuple : 1
Length value in the tuple : 7

In [ ]:
tuple1 = (6,56, 87, 1,3 ,4, 5, 'A')

print('Length value in the tuple :', len(tuple1))

#Below two statements will error as str and int cannot be used for min and max
print('Max value in the tuple :', max(tuple1))
print('Min value in the tuple :', min(tuple1))

Length value in the tuple : 8

TypeError: ignored