<a href="https://colab.research.google.com/github/vijaypattar28/Python_Training/blob/main/05_Sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sets
Sets are unordered collection of unique items. Set is defined by values separated by comma inside braces {}

## When to use the sets 
when one wants to collect the unique srrings or integers from a sequence

### Operartions
1.  Union
2.  Intersection
3.  Difference 
4.  Symmetric difference

In [2]:
# Creating sets
vowels = {'a', 'e', 'i', 'o', 'u'}
print(' Set of vowels, which is unordered', vowels)

 Set of vowels, which is unordered {'o', 'a', 'i', 'u', 'e'}

In [3]:
set1 = {1,2,3,4,5}
set2 = {3,5,6,7,8}

print('set_1', set1)
print('set_2', set2)

set_1 {1, 2, 3, 4, 5}
set_2 {3, 5, 6, 7, 8}

In [5]:
# set difference
print('Elements in set 1 but not in set 2 :', set1 - set2)
print('Elements in set 2 but not in set 1 :', set2 - set1)

Elements in set 1 but not in set 2 : {1, 2, 4}
Elements in set 2 but not in set 1 : {8, 6, 7}

In [6]:
# Union of sets
print('Union of set 1  set 2 :', set1 | set2)

Union of set 1  set 2 : {1, 2, 3, 4, 5, 6, 7, 8}

In [7]:
# Intersection of sets
print('Union of set 1  set 2 :', set1 & set2)

Union of set 1  set 2 : {3, 5}

In [8]:
# Symmetric difference out puts set removing the common elements in the two sets
print('symmetric difference set 1  set 2 :', set1.symmetric_difference(set2))

symmetric difference set 1  set 2 : {1, 2, 4, 6, 7, 8}

In [13]:
# Insertion and update
set1.add(10)
print(set1)

{1, 2, 3, 4, 5, 10, 11, 12}

In [11]:
set1.update([10,11,12])
print(set1)

{1, 2, 3, 4, 5, 10, 11, 12}

In [15]:
# Membership operator
print(1 in set1)
print(100 in set1)

True
False

In [20]:
# Inbuilt function that will work on any type of iterable
print(all(set1)<100) #returns true if every item in iterable is true
print(any(set1)>100) # returns true if any one item in iterable holds the condition

True
False